

version: "2"

services:
  zookeeper:
    image: wurstmeister/zookeeper
    container_name: mail-zookeeper
    ports:
      - "2181:2181"
    volumes:
      - "zookeeper_data:/mail_zookeeper"
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
  kafka:
    image: wurstmeister/kafka
    container_name: mail-kafka
    ports:
      - "9092:9092"
    volumes:
      - "kafka_data:/mail_kafka"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://:9092
      KAFKA_CREATE_TOPICS: "email-direct:1:1,email-schedule:1:1"
    depends_on:
      - zookeeper

volumes:
  zookeeper_data:
    driver: local
  kafka_data:
    driver: local
